
.btn btn-primary btn-lg :hover{
    background-color: orange;
}
 .one{
background-image: url(./image\ 2.jfif);
background-image: cover;
 }   
.btn btn-primary btn-lg{

}
.two{
    background-position: y;
}
.p-3{
    
}